* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #777777;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    background-image: url("./assets/home/the_forbidden_library_by_glowsydoodles_dbdv1jk-pre.jpg");
    background-size: cover;
    height:240px;
    padding: 20px 40px;
    background-repeat: no-repeat;
    width: 100%;
}

nav {
    width: fit-content;
    margin-left: auto;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

li {
    margin: 0 10px;
    width: fit-content;
    padding: 5px;
    border: 2px solid #777777;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 1440px) {
    ul {
        display: block;
    }
    li {
        width: 70px;
        margin: 5px 0;
    }
    header {
        padding-right: 0px;
        padding-top: 5px;
    }
}

a {
    text-decoration: none;
    color: #eee5e5e7;
}

#quote {
    color: #333;
    padding: 5px;
    font-size: 22px;
    font-style: bold;
    text-align: center;
    background-color: #e69138;
}

@media screen and (max-width: 360px) {
    #quote {
        color: #333;
        padding: 5px;
        font-size: 18px;
        font-style: bold;
        text-align: center;
        background-color: #e69138;
    }
}

/*--- SECTION COMMON SETTINGS ---*/
section {
    background-size: cover;
    background-position: center;
    height: 640px;
    padding: 20px 4.7vw;
}

/*--- CONTENT COMMON SETTINGS ---*/
.content-container {
    max-width: 400px;
    height: 100%;
    padding: 10px;
    position: relative;
}

.papyrus-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.papyrus-text {
    position: absolute;
    top: 30px;
    left: 20px;
    padding: 10px 25px;
    font-size: 18px;
}

@media screen and (max-width: 420px) {
    .papyrus-text {
        position: absolute;
        top: 30px;
        left: 20px;
        padding: 10px 25px;
        font-size: 15px;
    }
}

/*--- ETHERAS ---*/
#etheras {
    background-image: url('./assets/home/etheras_illust.jpg');
}

/*--- MUTE PRIESTESS ---*/
#mute-priestess {
    background-image: url('./assets/home/mute_priestess.jpg');
}

.mute-priestess-content {
    margin-left: auto;
}

/*--- LOST IN TIME ---*/
#lost-in-time {
    background-image: url('./assets/home/man_lost_in_time.jpg');
}

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 30px 0;
}

.contact-container {
    width: 80%;
    color: #ffffff;
}

input{
    width: 100%;
    height: 25px;
    padding: 5px 5px 5px 10px;
    margin-bottom: 10px;
    background-color: #dadadade;
    color: #191919;
    border: none;
}

.message {
    width: 100%;
    height: 125px;
    padding: 5px 5px 5px 8px;
    resize: none;
    background-color: #dadadade;
    color:#191919;
}

.submit-button input {
    font-size:larger;
}

.submit-button {
    display: flex;
    justify-content: center;
}

.social-media {
    margin: 20px 0;
}

.social-media a {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 5px;
}

.social-media a img {
    width: 32px;
    height: 32px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2,5fr));
    grid-gap: 5px;
    justify-items: center;
    margin-bottom: 5px;
}

.gallery img {
    width: 100%
}

#thankyou-body {
    background-color: #f3f3f3;
}

#thankyou-image {
    width:100%;
}

#thankyou-message {
    margin-top: 100px;
    text-align: center;
    width: 100%;
}

footer {
    padding: 0px 100px;
    background-color: #e69138;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

footer p {
    text-align: center;
    font-size: larger;
    font-weight: bolder;

}

@media screen and (max-width: 640px) {
    footer {
        padding: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}